.field {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  position: relative;

  overflow: hidden;
}

.player1 {
  background-color: #012348;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  color: white;
  font-family: Poppins;
  font-weight: 700;
  overflow: hidden;
  transition: all 0.2s;

  white-space: nowrap;
}

.player2 {
  background-color: #ff5004;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  color: white;
  font-family: Poppins;
  font-weight: 700;
  overflow: hidden;
  transition: all 0.2s;

  white-space: nowrap;
}

/* .player1 span,
.player2 span {
  position: absolute;
} */

.score {
  width: 150px;
  transform: translateX(75px);
  position: absolute;
  z-index: 100;
  top: 0px;
  height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;

  transition: all 0.2s;
}

.score span {
  font-size: 40px;
  font-family: Poppins;
  width: 50%;
  display: block;
  text-align: center;
  position: absolute;
  font-weight: 600;

  width: 200px;
  background-color: white;
}

.reset {
  width: 100% !important;
}
